
<div class="container mt-3" data-th-fragment="nav">
  <div class="row">
    <div class="col-md-3"></div>
    <div th:switch=${optSelect}>
      <div th:case="registro" class="btn-group col-md-6" role="group" aria-label="Basic example" >
      	<a href="#"  class="btn btn-info active">Reserva y Reactualizacion</a>
      	<a th:href="@{/modulos/carga}"  class="btn btn-info">Carga Matricula</a>
      	<a th:href="@{/modulos/consulta}"  class="btn btn-info">Consulta General</a>
      </div>
      <div th:case="carga" class="btn-group col-md-6" role="group" aria-label="Basic example" >
      	<a th:href="@{/modulos/registro}"  class="btn btn-info">Reserva y Reactualizacion</a>
      	<a href="#"  class="btn btn-info active">Carga Matricula</a>
      	<a th:href="@{/modulos/consulta}"  class="btn btn-info">Consulta General</a>
      </div>
      <div th:case="consulta" class="btn-group col-md-6" role="group" aria-label="Basic example" >
      	<a th:href="@{/modulos/registro}"  class="btn btn-info">Reserva y Reactualizacion</a>
      	<a th:href="@{/modulos/carga}"  class="btn btn-info">Carga Matricula</a>
      	<a href="#"  class="btn btn-info active">Consulta General</a>
      </div>
      
    </div>
    <div class="col-md-3" align="right">
    	<a href="#" th:href="@{/logout}" class="btn btn-danger">Cerrar Sesion</a>
    </div>
  </div>
</div>
    