body{
	
	
	background-image: url("../images/fondomatricula.jpg");
  no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}

h3{
	color:white;
	font-family: fantasy;
	font-size: 3rem;
}

@media (max-width:700px) and (min-width:500px) {
    h3{
       font-size: 2rem;
    }
}

@media (max-width:499px) and (min-width:0px) {
    h3{
       font-size: 1.5rem;
    }
}