<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>SISTEMA DE MATRICULA</title>
	<!-- Bootstrap -->
    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet"/> 
  	
  	<!-- jQuery -->
	<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" ></script>
	<!-- Bootstrap -->
	<script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
	
	<!-- Estilos y Scripts propios -->
  	<link rel="stylesheet" th:href="@{/css/stylelog.css}" href="../../css/stylelog.css"/>
  	<script th:src="@{/js/scriptlog.js}"></script>
</head>

<body>

	<div class="container mt-5 ">
		<div class="row justify-content-center">
			<div class="col-md-8" align="center">
				<h3 class="form-signin-heading">BIENVENIDO AL SISTEMA DE RESERVA Y REACTUALIZACION DE MATRICULA</h3>
					<br/>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="border rounded col-md-4 col-sm-6 col-xs-11 px-4 py-3 ">
				<form th:action="@{/login}" method="POST" class="form-signin">
						<input type="text" id="codigo" name="codigo"  th:placeholder="Codigo"
							class="form-control" /> <br/> 
						<input type="password"  th:placeholder="Contrase&ntilde;a"
							id="password" name="password" class="form-control" /> <br /> 
							
						<div align="center" th:if="${param.error}">
							<div class="alert alert-danger d-inline-flex p-2 ">
								Usuario o Password invalido, verifiquelos
							</div>
						</div>
						<div align="center" th:if="${param.logout}">
							<div class="alert alert-warning d-inline-flex p-2 log-msg">
								Exito de cierre de sesion
							</div>
						</div>
						<button class="btn btn-lg btn-primary btn-block " name="Submit" value="Login" type="Submit">Iniciar Sesion</button>
					
				</form>

			</div>
		</div>
	</div>
	<script>
		
		
	
	</script>
</body>
</html>