<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
  <title>Reserva y Reactualizacion</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" th:href="@{/css/styleregistro.css}" href="../../../css/styleregistro.css"/>
</head>

<body>

  <!--inicio -->
  <div class="container" id="todo" layout:fragment="content">
  	 <div class="text-center">
      	<p class="lead" style="
    		background-color: rgb(102, 255, 102); font-weight: 500;" >SE REGISTRO EXITOSAMENTE EL TRAMITE</p>
		<br />
      </div>
      <div id="exito">exito</div>
  </div>
</body>
</html>